<div>
<div class="d-flex justify-content-evenly align-items-center">
  <app-dashboard-card
    [title]="startData?.Total_Revenue?.tittle"
    [reference]="startData?.Total_Revenue?.reference || '-'"
    [value]="startData?.Total_Revenue?.value || 0"
    [d]="1">
  </app-dashboard-card>

  <app-dashboard-card
    [title]="startData?.New_Orders?.tittle"
    [reference]="startData?.New_Orders?.reference || '-'"
    [value]="startData?.New_Orders?.value || 0"
    [d]="2">
  </app-dashboard-card>

  <app-dashboard-card
    [title]="startData?.Customers?.tittle"
    [reference]="startData?.Customers?.reference || '-'"
    [value]="startData?.Customers?.value || 0"
    [d]="3">
  </app-dashboard-card>

  <app-dashboard-card
    [title]="startData?.Active_Products?.tittle "
    [reference]="startData?.Active_Products?.reference || '-'"
    [value]="startData?.Active_Products?.value || 0"
    [d]="4">
  </app-dashboard-card>
</div>



<div class="d-flex justify-content-evenly align-items-center">
<div>
<app-bar-chart [data]="SalesMonthIn"></app-bar-chart>
</div>

<div>
<app-recent-sales-board [BestCustomers]="BestCustomers"></app-recent-sales-board>
</div>
</div>

<div>
<app-top-products [TopProducts]="TopProducts"></app-top-products>
</div>
</div>
