<div class="card h-100" [class.selected]="isSelected">
  <div
    class="position-absolute top-0 end-0 m-2 close-btn"
    [ngClass]="{ 'd-none': !isSelected }"
    (click)="unSelectProduct()"
    title="Remover selección"
  >
    <i class="bi bi-x text-white fs-5"></i>
  </div>

  <div class="card-img-container" (click)="infoProduct()">
    <img [src]="product.imgURL" class="card-img-top" [alt]="product.name" />
  </div>

  <div class="card-body">
    <h5 class="card-title" (click)="infoProduct()" title="{{ product.name }}">
      {{ product.name }}
    </h5>

    <div class="mt-auto" *ngIf="showActions">
      <p class="card-text small mb-2 text-muted">
        {{ product.categoria.descripcion }}
      </p>

      <div class="d-flex justify-content-between align-items-end">
        <span class="precio">${{ getMaxPrice(product.precios) | number }}</span>
        <button class="btn-add" (click)="selectButtonAdd()">Añadir</button>
      </div>
    </div>
  </div>
</div>
